.forgot_password {
    color: #025FA8;
    font-size: 13px;
    padding : 10px;
}


.login_button {
    background-color: #CD4B12;
    padding : 2% 25%;
    color : white;
}


.signup_button {
    color : #CD4B12;
    border : 1px solid #CD4B12;
    padding : 2% 23%;
}

h2{
    font-size: 18px;
}


.email_ {
    background-color: #F5F5F5;
    padding : 7px 30px;
}


.password_ {
    background-color: #F5F5F5;
    padding: 7px 30px;
}

.close-button {
    position: absolute;
    top: 20px; /* Adjust the distance from the top as needed */
    right: 25px; /* Adjust the distance from the right as needed */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color : #ffffff;
  }